---
import Contact from "../Contact/Contact.astro";

const arrFAQ = [
  {
    id: "item-0",
    title: "Todo o produto é caseiro?",
    details: `Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Eius nesciunt saepe vero deserunt,
              hic quod sequi corrupti incidunt explicabo quia cum.
              Officiis itaque natus recusandae culpa nam quam dolorem ut.`,
  },
  {
    id: "item-1",
    title: "Que ingredientes você usa?",
    details: `Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Eius nesciunt saepe vero deserunt,
              hic quod sequi corrupti incidut explicabo quia cum.
              Officiis itaque natus recusandae culpa nam quam dolorem ut.`,
  },
  {
    id: "item-2",
    title: "Como funciona a entrega?",
    details: `Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Eius nesciunt saepe vero deserunt,
              hic quod sequi corrupti incidunt explicabo quia cum.
              Officiis itaque natus recusandae culpa nam quam dolorem ut.`,
  },
  {
    id: "item-3",
    title: "Aceita encomendas para eventos?",
    details: `Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Eius nesciunt saepe vero deserunt,
              hic quod sequi corrupti incidunt explicabo quia cum.
              Officiis itaque natus recusandae culpa nam quam dolorem ut.`,
  },
  {
    id: "item-4",
    title: "Como funciona o pagamento?",
    details: `Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Eius nesciunt saepe vero deserunt,
              hic quod sequi corrupti incidunt explicabo quia cum.
              Officiis itaque natus recusandae culpa nam quam dolorem ut.`,
  },
];
---

<section
  id="FAQ"
  aria-labelledby="faq-heading"
  role="region"
  class="min-h-screen flex flex-col gap-[8vh] p-4 pt-8 sm:p-8 bg-[#f7f7f7] pinkPattern bg-cover bg-center border-1 border-t-0"
>
  <h2
    id="faq-heading"
    class="text-5xl text-center text-new-pink font-semibold lg:text-6xl text-outline"
  >
    FAQ
  </h2>
  <p class="text-center text-white font-extrabold text-outline text-3xl">
    Questões mais frequentes
  </p>
  <div class="flex flex-col gap-[4vh]">
    {
      arrFAQ.map((item) => (
        <details class="w-full bg-morning-glory rounded-2xl border-1 md:max-w-[720px] md:self-center overflow-hidden">
          <summary class="flex items-center justify-between p-4 cursor-pointer text-base font-semibold text-black font-comfortaa">
            {item.title}
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-9 w-9 inline-block m-2 transform transition-transform duration-300 details-arrow border-1 rounded-2xl bg-outrageous-orange"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
              focusable="false"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"
              />
            </svg>
          </summary>
          <p class="p-4 pt-0 pr-4 text-[#4d4d4d] font-nunito font-medium">
            {item.details}
          </p>
        </details>
      ))
    }
  </div>
  <Contact />
</section>

<style>
  summary::-webkit-details-marker {
    display: none;
  }
  summary {
    list-style: none;
  }

  details[open] .details-arrow {
    transform: rotate(180deg);
  }
</style>
