---
import { Image } from "astro:assets";
import navLogo from "../../assets/astro.svg";
import heroImage from "../../assets/hero-images/kawaii.png";
---

<header
  id="home"
  class="bg-[#ffebf2] min-h-screen p-4 flex flex-col overflow-hidden gap-[6vh] md:gap-[10vh] magicpattern bg-cover"
>
  <nav
    class="flex justify-between items-center bg-morning-glory p-2 pr-6 pl-6 rounded-2xl shadow-sm md:bg-transparent md:shadow-none md:p-0"
  >
    <div class="md:bg-morning-glory md:p-2 md:pr-4 md:pl-4 md:rounded-2xl">
      <Image src={navLogo} alt="logo" class="w-auto h-10" />
    </div>
    <ul
      class="hidden sm:flex text-[#d94694] font-medium gap-4 md:bg-morning-glory md:p-2 md:pr-4 md:pl-4 md:rounded-2xl"
    >
      <li
        class="bg-white rounded-2xl p-2 border-1 border-new-pink hover:bg-new-pink hover:text-white transition-colors duration-500 ease-in-out"
      >
        <a href="/menu"> Menu </a>
      </li>
      <li
        class="bg-white rounded-2xl p-2 border-1 border-new-pink hover:bg-new-pink hover:text-white transition-colors duration-500 ease-in-out"
      >
        <a href="#sobre">Sobre</a>
      </li>
      <li
        class="bg-white rounded-2xl p-2 border-1 border-new-pink hover:bg-new-pink hover:text-white transition-colors duration-500 ease-in-out"
      >
        <a href="#FAQ">FAQ</a>
      </li>
      <li
        class="bg-white rounded-2xl p-2 border-1 border-new-pink hover:bg-new-pink hover:text-white transition-colors duration-500 ease-in-out"
      >
        <a href="#contato">Contato</a>
      </li>
      <li
        class="bg-white rounded-2xl p-2 border-1 border-new-pink hover:bg-new-pink hover:text-white transition-colors duration-500 ease-in-out"
      >
        <a href="/order">Pedido</a>
      </li>
    </ul>
    <div class="relative sm:hidden">
      <details>
        <summary class="cursor-pointer [custom-summary]">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            class="hover:stroke-[#e60073] hover:scale-110 transition-all duration-300 ease-in-out"
          >
            <path d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </summary>
        <ul
          class="absolute bg-morning-glory text-new-pink text-center font-bold rounded-2xl mt-6 p-4 -translate-x-15 flex flex-col gap-2 shadow-sm z-10"
        >
          <li
            class="bg-white rounded-2xl p-2 border-1 border-new-pink hover:bg-new-pink hover:text-white transition-colors duration-500 ease-in-out"
          >
            <a href="/menu"> Menu </a>
          </li>
          <li
            class="bg-white rounded-2xl p-2 border-1 border-new-pink hover:bg-new-pink hover:text-white"
          >
            <a href="#sobre">Sobre</a>
          </li>
          <li
            class="bg-white rounded-2xl p-2 border-1 border-new-pink hover:bg-new-pink hover:text-white"
          >
            <a href="#FAQ">FAQ</a>
          </li>
          <li
            class="bg-white rounded-2xl p-2 border-1 border-new-pink hover:bg-new-pink hover:text-white"
          >
            <a href="#contato">Contato</a>
          </li>
          <li
            class="bg-white rounded-2xl p-2 border-1 border-new-pink hover:bg-new-pink hover:text-white"
          >
            <a href="/order">Pedido</a>
          </li>
        </ul>
      </details>
    </div>
  </nav>
  <section class="flex flex-col gap-[6vh] md:justify-between">
    <h1
      class="text-8xl text-new-pink font-bold text-center
              lg:text-9xl"
    >
      Lorem <br class="md:hidden" />ipsum
    </h1>
    <div
      class="order-2 md:order-0 self-center -translate-y-12 md:flex md:flex-col md:gap-8 md:translate-y-0 lg:gap-10"
    >
      <h2
        class="text-2xl text-new-pink font-comfortaa font-semibold max-w-[370px] text-center
        md:text-white lg:text-3xl lg:max-w-[420px]"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
      </h2>
      <div class="hidden md:block md:text-center">
        <button
          class="font-bold font-nunito bg-[#e60073] text-[#ffffff] p-4 rounded-3xl shadow-sm"
          >Veja mais</button
        >
      </div>
    </div>
    <div
      class="order-1 self-center w-100 h-100 md:order-0 md:ml-0 md:translate-x-0"
    >
      <Image
        src={heroImage}
        alt="doces"
        class="imagem-flutuante object-contain rounded-3xl"
        format="avif"
      />
    </div>
  </section>
</header>

<style>
  summary::-webkit-details-marker {
    display: none;
  }

  summary {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .imagem-flutuante {
    animation: flutuar 3s ease-in-out infinite;
  }

  @keyframes flutuar {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
</style>
