---

---

<header class="bg-salomie min-h-screen p-4">
  <nav class="flex justify-between items-center">
    <div>
      <img src="src/assets/astro.svg" alt="logo" class="w-auto h-10" />
    </div>
    <ul class="flex gap-4">
      <li>Menu</li>
      <li>Sobre</li>
      <li>FAQ</li>
      <li>Contato</li>
    </ul>
  </nav>
  <h1>Lorem ipsum</h1>
  <div>
    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
    <div>
      <button class="bg-cotton-candy p-2 rounded-3xl">Lorem ipsum</button>
    </div>
  </div>
  <div>
    <img src="" alt="" />
  </div>
</header>
