---

---

<header
  class="bg-salomie min-h-screen p-4 flex flex-col overflow-x-hidden gap-8"
>
  <nav
    class="flex justify-between items-center bg-cotton-candy p-2 pr-6 pl-6 rounded-2xl"
  >
    <div>
      <img src="src/assets/astro.svg" alt="logo" class="w-auto h-10" />
    </div>
    <div class="relative">
      <details>
        <summary class="cursor-pointer [custom-summary]">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            class="hover:stroke-morning-glory hover:scale-110 transition-all duration-300 ease-in-out"
          >
            <path d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </summary>
        <ul
          class="absolute bg-morning-glory rounded-2xl mt-6 p-4 -translate-x-10 flex flex-col gap-2"
        >
          <li><a href="#"> Menu </a></li>
          <li><a href="#">Sobre</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Contato</a></li>
        </ul>
      </details>
    </div>
  </nav>
  <h1 class="text-8xl">Lorem ipsum</h1>
  <div class="order-2">
    <h2 class="text-2xl text-slate-800">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit
    </h2>
    <div class="hidden">
      <button class="bg-cotton-candy p-2 rounded-3xl">Lorem ipsum</button>
    </div>
  </div>
  <div class="order-1 translate-x-20">
    <img
      src="src/assets/hero-images/a.jpg"
      alt="doces"
      class="object-cover rounded-3xl w-100 h-100 scale-x-[-1]"
    />
  </div>
</header>

<style>
  summary::-webkit-details-marker {
    display: none;
  }

  summary {
    list-style: none;
    padding: 0;
    margin: 0;
  }
</style>
