---
import { Image } from "astro:assets";
import navLogo from "../../assets/promo-images/kawaii-promo.png";
import heroImage from "../../assets/hero-images/kawaii.avif";
---

<header
  id="home"
  class="relative bg-[url(/hero/newbg.avif)] bg-cover bg-[#ffebf2] h-screen min-h-[874px] max-h-[1100px] p-4 flex flex-col overflow-hidden gap-[6vh] md:gap-[10vh] md:p-8 xl:gap-[18vh] border-1 border-b-0"
>
  <div class="absolute h-full w-full inset-0 bg-pink-300/80"></div>
  <nav
    class="relative flex justify-between items-center bg-morning-glory p-2 pr-6 pl-6 rounded-2xl border-1 sm:bg-transparent sm:border-none sm:p-0 md:w-[700px] md:mx-auto lg:w-[820px] xl:w-[1000px] 2xl:w-[1100px] shake-nav"
    aria-label="Navegação Principal do Site"
  >
    <div
      class="sm:bg-morning-glory sm:p-3 sm:pr-4 sm:pl-4 sm:rounded-2xl sm:border-1"
    >
      <a
        href="/"
        aria-label="Voltar para a página inicial"
        class="text-new-pink font-bold text-2xl text-outline"
      >
        ✨🦄✨
      </a>
    </div>
    <ul
      class="hidden sm:flex text-new-pink font-medium gap-4 sm:bg-morning-glory sm:p-2 sm:pr-4 sm:pl-4 sm:rounded-2xl sm:border-1 sm:border-black"
    >
      <li
        class="bg-white rounded-2xl p-2 border-1 border-black hover:bg-new-pink hover:text-white transition-colors duration-500 ease-in-out"
      >
        <a href="#produtos">Doces</a>
      </li>
      <li
        class="bg-white rounded-2xl p-2 border-1 border-black hover:bg-new-pink hover:text-white transition-colors duration-500 ease-in-out"
      >
        <a href="#sobre">Sobre</a>
      </li>
      <li
        class="bg-white rounded-2xl p-2 border-1 border-black hover:bg-new-pink hover:text-white transition-colors duration-500 ease-in-out"
      >
        <a href="#FAQ">FAQ</a>
      </li>
      <li
        class="bg-white rounded-2xl p-2 border-1 border-black hover:bg-new-pink hover:text-white transition-colors duration-500 ease-in-out"
      >
        <a href="#contato">Contato</a>
      </li>
      <li
        class="bg-white rounded-2xl p-2 border-1 border-black hover:bg-new-pink hover:text-white transition-colors duration-500 ease-in-out"
      >
        <a href="/menu"> Menu </a>
      </li>
      <li
        class="bg-white rounded-2xl p-2 border-1 border-black hover:bg-new-pink hover:text-white transition-colors duration-500 ease-in-out"
      >
        <a href="/order">Pedido</a>
      </li>
    </ul>
    <div class="relative sm:hidden">
      <details>
        <summary class="cursor-pointer [custom-summary]">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            class="hover:stroke-[#e60073] hover:scale-110 transition-all duration-300 ease-in-out"
          >
            <path d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </summary>
        <ul
          class="absolute bg-morning-glory text-new-pink text-center font-bold rounded-2xl mt-6 p-4 -translate-x-15 flex flex-col gap-2 border-1 border-black z-10"
        >
          <li
            class="bg-white rounded-2xl p-2 border-1 border-black hover:bg-new-pink hover:text-white transition-colors duration-500 ease-in-out"
          >
            <a href="#produtos">Doces</a>
          </li>
          <li
            class="bg-white rounded-2xl p-2 border-1 border-black hover:bg-new-pink hover:text-white transition-colors duration-500 ease-in-out"
          >
            <a href="#sobre">Sobre</a>
          </li>
          <li
            class="bg-white rounded-2xl p-2 border-1 border-black hover:bg-new-pink hover:text-white transition-colors duration-500 ease-in-out"
          >
            <a href="#FAQ">FAQ</a>
          </li>
          <li
            class="bg-white rounded-2xl p-2 border-1 border-black hover:bg-new-pink hover:text-white transition-colors duration-500 ease-in-out"
          >
            <a href="#contato">Contato</a>
          </li>
          <li
            class="bg-white rounded-2xl p-2 border-1 border-black hover:bg-new-pink hover:text-white transition-colors duration-500 ease-in-out"
          >
            <a href="/menu"> Menu </a>
          </li>
          <li
            class="bg-white rounded-2xl p-2 border-1 border-black hover:bg-new-pink hover:text-white transition-colors duration-500 ease-in-out"
          >
            <a href="/order">Pedido</a>
          </li>
        </ul>
      </details>
    </div>
  </nav>
  <section
    class="relative flex flex-col gap-[6vh] md:justify-between xl:grid xl:grid-cols-[500px_auto] xl:grid-rows-2 xl:gap-0 xl:mx-auto 2xl:grid-cols-[600px_auto]"
  >
    <h1
      class="text-7xl text-new-pink font-bold text-center lg:text-8xl xl:col-start-1 xl:col-end-2 xl:row-start-1 xl:row-end-2 xl:self-center xl:text-left xl:translate-y-4 text-outline"
    >
      Doces <span class="text-morning-glory">&</span><br class="sm:hidden" /> Doçuras
    </h1>
    <div
      class="self-center md:flex md:flex-col md:gap-10 md:translate-y-6 lg:gap-10 xl:col-start-1 xl:col-end-2 xl:row-start-2 xl:row-end-3 xl:self-start xl:gap-12 xl:translate-y-10"
    >
      <h2
        class="text-[26px] text-white font-extrabold translate-y-6 max-w-[370px] text-center text-outline md:translate-y-0 lg:text-3xl lg:max-w-[420px] xl:text-left"
      >
        Delícias e sabores para esquentar o seu coraçãozinho
      </h2>
      <div class="hidden md:block md:text-center xl:text-left">
        <a
          href="#produtos"
          class="font-bold font-nunito bg-new-pink text-[#ffffff] border-2 border-white p-4 rounded-3xl shadow-sm shake-anchor hover:bg-pink-400 hover:scale-102"
          aria-label="Descubra nossos produtos deliciosos">Veja mais</a
        >
      </div>
    </div>
    <div
      class="self-center w-100 h-100 md:ml-0 md:-translate-x-2 xl:col-start-2 xl:col-end-3 xl:row-start-1 xl:row-end-3 xl:justify-self-center xl:w-130 xl:h-130"
    >
      <Image
        src={heroImage}
        alt="Variedade de doces artesanais coloridos, incluindo cupcakes e donuts"
        class="imagem-flutuante object-contain rounded-3xl"
        format="avif"
      />
    </div>
  </section>
</header>

<style>
  summary::-webkit-details-marker {
    display: none;
  }

  summary {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .imagem-flutuante {
    animation: flutuar 3s ease-in-out infinite;
  }

  @keyframes flutuar {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .shake-anchor {
    display: inline-block;
    transform-origin: bottom center;
    animation: periodicShake 6s ease-in-out infinite;
  }

  @media (min-width: 768px) {
    .shake-nav {
      transform-origin: bottom center;
      animation: navShake 8s ease-in-out infinite;
    }

    .addtext-outline {
      -webkit-text-stroke: 1px black;
    }
  }

  @keyframes periodicShake {
    0%,
    75%,
    100% {
      transform: rotate(0deg);
    }
    88% {
      transform: rotate(12deg);
    }
    85% {
      transform: rotate(-12deg);
    }
    90% {
      transform: rotate(12deg);
    }
    95% {
      transform: rotate(-12deg);
    }
  }

  @keyframes navShake {
    0%,
    75%,
    100% {
      transform: translateX(0);
    }
    88% {
      transform: translateX(-10px);
    }
    85% {
      transform: translateX(10px);
    }
    90% {
      transform: translateX(-10px);
    }
    95% {
      transform: translateX(10px);
    }
  }
</style>
