---
import { Image } from "astro:assets";
import donut from "../../assets/promo-images/pexels-hannia-torres-348555462-14160765.jpg";
import kawaiiDonut from "../../assets/promo-images/kawaii-promo.png";
import KawaiiCake from "../../assets/promo-images/fatia-de-bolo-de-cereja-kawaii.png";
import bolo from "../../assets/promo-images/bolo.jpg";

const { title, description, icone, produto } = Astro.props;

let iconeIMG = icone === "kawaii-donut" ? kawaiiDonut : KawaiiCake;
let produtoIMG = produto === "produto-donut" ? donut : bolo;
---

<section
  aria-labelledby="promo-heading"
  role="region"
  class="w-full min-h-[50vh] p-4 flex justify-center items-center bg-[#e6ffee] promoPattern bg-contain"
>
  <article
    class="flex rounded-2xl bg-morning-glory shadow-sm hover:scale-105 transition-transform duration-1000 ease-in-out w-full max-w-[420px]
    sm:max-w-[520px] sm:h-[260px] md:max-w-[620px] md:h-[300px] md:relative"
  >
    <section
      class="relative flex flex-col col-10 gap-6 p-4 w-full h-full sm:gap-8 md:gap-10"
    >
      <header>
        <h2
          id="promo-heading"
          class="font-extrabold text-md text-left text-[#333333] font-comfortaa md:text-xl sm:w-[80%] z-1"
        >
          {title}
        </h2>
      </header>
      <p
        class="text-sm pr-2 font-nunito text-[#4d4d4d] sm:w-[80%] md:text-md z-1"
      >
        {description}
      </p>
      <footer class="sm:mt-6 z-10">
        <a
          href="/menu"
          class="bg-outrageous-orange text-[#ffffff] p-3 rounded-3xl text-sm font-semibold font-nunito hover:bg-orange-400"
          >Encomende já!</a
        >
      </footer>
    </section>
    <figure>
      <Image
        src={produtoIMG}
        alt="donuts"
        class="object-cover w-50 h-full rounded-tr-2xl rounded-br-2xl sm:w-70 md:w-90"
        format="avif"
      />
    </figure>
    <Image
      src={iconeIMG}
      alt="donuts"
      class="object-contain w-40 h-auto absolute -left-24 -bottom-20 imagem-flutuante rounded-tr-2xl rounded-br-2xl hidden md:block"
      format="avif"
    />
  </article>
</section>

<style>
  .imagem-flutuante {
    animation: flutuar 3s ease-in-out infinite;
  }

  @keyframes flutuar {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
</style>
