---

---

<section aria-labelledby="promo-heading" role="region" class="min-h-[50vh]">
  <article class="product-card flex">
    <section class="product-card__body">
      <header class="product-card__header">
        <h2 id="promo-heading" class="product-card__title">titulo</h2>
      </header>
      <p class="product-card__description">detalhes</p>
      <footer class="product-card__footer">
        <button type="button">Comprar</button>
      </footer>
    </section>
    <figure class="product-card__image">
      <img src="test.jpg" alt="test" />
    </figure>
  </article>
</section>
