@import "tailwindcss";

@theme {
  --color-cotton-candy:#ffb3d9;
  --color-vivid-tangerine: #ff8080;
  --color-salomie: #ffdb80;
  --color-morning-glory: #a4e5d8;
  --color-outrageous-orange: #ff6a3d;
  --color-new-gray: #4a4a4a;
}