---
import { Image } from "astro:assets";
import mary01 from "../../assets/about-images/pexels-shvets-production-7525227.jpg";
import mary02 from "../../assets/about-images/pexels-shvets-production-7525187.jpg";
import mary03 from "../../assets/about-images/pexels-shvets-production-7525188.jpg";
---

<section
  id="sobre"
  aria-labelledby="about-heading"
  role="region"
  class="min-h-screen overflow-x-hidden flex flex-col gap-10 p-8 bg-[#fff5e6] lg:gap-16 relative bg-[url(/hero/newbg.avif)] bg-cover border-1"
>
  <div class="absolute h-full w-full inset-0 bg-pink-300/80"></div>

  <h2
    id="about-heading"
    class="relative text-5xl text-center text-new-pink text-outline font-bold lg:text-6xl"
  >
    Me conheça
  </h2>
  <div
    class="relative flex flex-col gap-10 sm:gap-12 lg:gap-16 lg:w-full lg:max-w-[1024px] lg:mx-auto"
  >
    <div class="flex flex-col gap-[4vh] lg:flex-row lg:gap-0 lg:self-start">
      <div class="self-center">
        <Image
          src={mary01}
          alt="Mary sorrindo em sua confeitaria, decorando um bolo com glacê"
          class="object-cover object-top w-80 h-80 rounded-2xl border-1 sm:w-100 sm:h-100"
          format="avif"
        />
      </div>
      <p
        class="self-center text-center text-[#333333] font-semibold max-w-80 sm:max-w-100
               lg:text-left lg:text-2xl lg:leading-10 lg:max-w-120 relative bg-white p-4 rounded-2xl
               border-1 lg:border-l-0 lg:rounded-l-none"
      >
        Olá! Eu me chamo Letícia, tenho 28 anos e sou de Salvador, Bahia. Sou
        apaixonada por criar coisas bonitas e gostosas que fazem sorrir.
        Sinta-se à vontade, a casa é sua!
      </p>
    </div>
    <div class="flex flex-col gap-[4vh] lg:flex-row lg:gap-0 lg:self-end">
      <div class="self-center lg:order-2">
        <Image
          src={mary02}
          alt="Mary segurando uma forma de biscoitos recém-assados com um sorriso gentil"
          class="object-cover object-top w-80 h-80 rounded-2xl border-1 sm:w-100 sm:h-100"
          format="avif"
        />
      </div>
      <p
        class="self-center text-center text-[#333333] font-semibold max-w-80 sm:max-w-100
               lg:text-right lg:text-2xl lg:leading-10 lg:max-w-120 relative bg-white p-4 rounded-2xl
               border-1 lg:border-r-0 lg:rounded-r-none"
      >
        Minha paixão pela confeitaria começou ainda na infância e nunca mais
        parou de crescer. Amo transformar ingredientes simples em momentos
        especiais e doces memórias.
      </p>
    </div>
    <div class="flex flex-col gap-[4vh] lg:flex-row lg:gap-0 lg:self-start">
      <div class="m-auto">
        <Image
          src={mary03}
          alt="Close-up das mãos de Mary cuidadosamente decorando pequenos bolos em uma bancada"
          class="m-auto object-cover object-center w-80 h-80 rounded-2xl border-1 sm:w-100 sm:h-100"
          format="avif"
        />
      </div>
      <p
        class="self-center text-center text-[#333333] font-semibold max-w-80 sm:max-w-100
               lg:text-left lg:text-2xl lg:leading-10 lg:max-w-120 relative bg-white p-4 rounded-2xl
               border-1 lg:border-l-0 lg:rounded-l-none"
      >
        Aqui compartilho um pedacinho do que faço com muito carinho. Fique à
        vontade para explorar e conhecer melhor meu trabalho. Vai ser um prazer
        adoçar o seu dia!
      </p>
    </div>
  </div>
</section>
