---
import { Image } from "astro:assets";
import mary01 from "../../assets/about-images/pexels-shvets-production-7525227.jpg";
import mary02 from "../../assets/about-images/pexels-shvets-production-7525187.jpg";
import mary03 from "../../assets/about-images/pexels-shvets-production-7525188.jpg";
---

<section
  id="sobre"
  aria-labelledby="about-heading"
  role="region"
  class="min-h-screen overflow-x-hidden flex flex-col gap-[4vh] p-8 bg-[#fff5e6] lg:gap-[6vh] pinkPattern bg-cover border-1 border-t-0"
>
  <h2
    id="about-heading"
    class="text-5xl text-center text-new-pink text-outline font-semibold lg:text-6xl"
  >
    Me conheça
  </h2>
  <section
    class="flex flex-col gap-[4vh] lg:gap-[6vh] lg:w-full lg:max-w-[1024px] lg:mx-auto"
  >
    <div class="flex flex-col gap-[4vh] lg:flex-row lg:gap-[6vh] lg:self-start">
      <div class="self-center">
        <Image
          src={mary01}
          alt="Foto da Mary trabalhando"
          class="object-cover object-top w-80 h-80 rounded-2xl border-1 sm:w-100 sm:h-100"
          format="avif"
        />
      </div>
      <p
        class="self-center text-center text-[#333333] font-semibold max-w-100 sm:max-w-120
            lg:text-left lg:text-3xl lg:leading-10 lg:max-w-120 relative"
      >
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim labore
        ipsa, veritatis dicta ipsam qui, sit harum aut quidem alias quia
        consequuntur, exercitationem neque sapiente.
      </p>
    </div>
    <div class="flex flex-col gap-[4vh] lg:flex-row lg:gap-[6vh] lg:self-end">
      <div class="self-center lg:order-2">
        <Image
          src={mary02}
          alt="ok"
          class="object-cover object-top w-80 h-80 rounded-2xl border-1 sm:w-100 sm:h-100"
          format="avif"
        />
      </div>
      <p
        class="self-center text-center text-[#333333] font-semibold max-w-100 sm:max-w-120
      lg:text-right lg:text-3xl lg:leading-10 lg:max-w-120 lg:order-1"
      >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quo
        impedit eum vel dignissimos architecto amet voluptatem culpa reiciendis.
      </p>
    </div>
    <div class="flex flex-col gap-[4vh] lg:flex-row lg:gap-[4vh] lg:self-start">
      <div class="m-auto">
        <Image
          src={mary03}
          alt="ok"
          class="m-auto object-cover object-center w-80 h-80 rounded-2xl border-1 sm:w-100 sm:h-100"
          format="avif"
        />
      </div>
      <p
        class="self-center text-center text-[#333333] font-semibold max-w-100 sm:max-w-120
      lg:text-left lg:text-3xl lg:leading-10 lg:max-w-120 lg:order-1"
      >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quo
        impedit eum vel dignissimos architecto amet voluptatem culpa reiciendis.
      </p>
    </div>
  </section>
</section>
