---
import Score from "./Score.astro";

const arrCustomers = [
  {
    id: 0,
    title: "Fernanda Robalo",
    details: "Torta de queijo cremosa com calda ou geleia de morango por cima.",
    userScore: 4,
  },
  {
    id: 1,
    title: "Mariana Dias",
    details:
      "Um bolo macio com um distintivo sabor de cacau e cor vermelha, coberto com cream cheese.",
    userScore: 5,
  },
  {
    id: 2,
    title: "Segio Golçalvez",
    details:
      "Massa folhada recheada com creme de baunilha ou chocolate e coberta com ganache.",
    userScore: 5,
  },
  {
    id: 3,
    title: "Lima Dias",
    details:
      "Base de massa crocante, recheio cítrico de limão e merengue dourado por cima.",
    userScore: 4,
  },
  {
    id: 4,
    title: "Augusta Francista",
    details:
      "Biscoitos leves de amêndoa com recheio de ganache ou geleia de framboesa.",
    userScore: 4,
  },
  {
    id: 5,
    title: "Marta Nápolis",
    details:
      "Versão sofisticada do clássico brasileiro, com coberturas como castanhas, chocolate belga ou frutas.",
    userScore: 5,
  },
];
---

<section
  aria-labelledby="customers-heading"
  role="region"
  class="min-h-screen overflow-x-hidden flex flex-col gap-[16vh] p-4 pl-1 pr-0 bg-[#f2e6ff]"
>
  <h2
    id="customers-heading"
    class="text-5xl text-center text-[#800040] font-medium"
  >
    What <br />customers say
  </h2>
  <section class="flex overflow-x-auto gap-4 p-2">
    {
      arrCustomers.map((item) => (
        <article class="flex flex-col gap-4 min-w-70 h-70 bg-[#ffffff] rounded-3xl p-4 pt-10 shadow-sm">
          <header>
            <h2 class="font-extrabold text-xl text-center text-[#d94694] font-comfortaa">
              {item.title}
            </h2>
          </header>
          <section>
            <p class="font-bold text-center line-clamp-3 pl-2 pr-4  text-[#4d4d4d] font-nunito">
              {item.details}
            </p>
          </section>
          <footer class="flex justify-center items-center">
            <Score rating={item.userScore} />
          </footer>
        </article>
      ))
    }
  </section>
  <div class="self-center">
    <button
      class="font-medium bg-[#e60073] p-4 rounded-3xl text-[#ffffff] shadow-sm"
      >Veja mais</button
    >
  </div>
</section>

<style>
  section {
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
  }
</style>
