---

---

<section aria-label="customers-heading" role="region" class="min-h-screen">
  <h2 id="customers-heading">What customers say</h2>
  <article>
    <header>
      <h2>cliente x...</h2>
    </header>
    <section>
      <p>opinião...</p>
    </section>
    <footer>
      <figure>
        <img src="oi.jpg" alt="pontuação" />
      </figure>
    </footer>
  </article>
</section>
