---
import Hero from "../components/Hero/Hero.astro";
import Products from "../components/Products/Products.astro";
import Layout from "../layouts/Layout.astro";
import Promo from "../components/Promo/Promo.astro";
import About from "../components/About/About.astro";
import Customers from "../components/Customers/Customers.astro";
---

<Layout>
  <Hero />
  <main>
    <Products />
    <Promo />
    <About />
    <Customers />
  </main>
</Layout>
