---
import Layout from "../layouts/Layout.astro";
import Forms from "../components/Forms/Forms.astro";
---

<Layout title="Pedido">
  <section
    id="order"
    aria-labelledby="order-heading"
    role="region"
    class="min-h-screen w-full p-4 bg-[#e6f7ff] bluePattern bg-cover flex flex-col gap-[10vh] sm:p-8 border-1"
  >
    <div class="flex gap-2 w-full max-w-[1000px] self-center">
      <div class="h-10 w-10 self-center">
        <a
          href="/menu"
          class="self-center bg-[#ffebf2] border-1 border-[#d94694] text-[#d94694] rounded-2xl rotate-180 hover:bg-[#d94694] hover:text-[#ffebf2] inline-block transition-all duration-300 ease-in-out fixed"
          aria-label="Voltar para o menu de doces"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 m-2 inline-block"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
            focusable="false"
          >
            <path
              fill-rule="evenodd"
              d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
        </a>
      </div>
      <div class="m-auto -translate-x-4 lg:-translate-x-8">
        <h2
          id="order-heading"
          class="text-5xl text-center text-new-pink font-semibold text-outline lg:text-6xl"
        >
          Conclua <br class="sm:hidden" /> o pedido
        </h2>
      </div>
    </div>

    <h3
      class="self-center text-center text-[#333333] font-semibold text-xl sm:w-[400px]"
    >
      Após preencher o formulário, você será redirecionado para o <span
        class="text-emerald-500">WhatsApp</span
      >, onde poderá conversar diretamente com a <span class="text-[#d94694]"
        >confeiteira</span
      > 🤗
    </h3>
    <div>
      <Forms />
    </div>
  </section>
</Layout>
