---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Pedido">
  <section
    aria-labelledby="order-heading"
    role="region"
    class="min-h-screen w-full p-4 bg-[#e6f7ff]"
  >
    <h2
      id="faq-heading"
      class="text-5xl text-center text-[#800040] font-medium lg:text-6xl"
    >
      Conclua o pedido
    </h2>
  </section>
</Layout>
