---
import { Image } from "astro:assets";
---

<footer
  id="contato"
  aria-labelledby="footer-contact"
  class="min-h-[80vh] p-4 pt-8 flex flex-col gap-8 sm:p-8 sm:gap-12 sm:min-h-[70vh] md:min-h-[60vh]"
>
  <h2
    id="footer-contact"
    class="text-5xl text-center text-new-pink font-semibold lg:text-6xl text-outline"
  >
    Contato e Endereço
  </h2>
  <address
    class="flex flex-col gap-4 not-italic bg-[#ffffff] p-4 rounded-2xl border-1 max-w-[500px] self-center md:flex-row md:max-w-[720px]"
  >
    <div aria-labelledby="footer-address" class="flex flex-col gap-4 md:w-1/2">
      <h3
        id="footer-address"
        class="text-[#d94694] font-comfortaa font-semibold"
      >
        Confeitaria Doce Sabor
      </h3>
      <p class="text-[#4d4d4d] font-nunito font-medium max-w-[80%]">
        Rua das Flores, 123 Bairro Jardim Encantado Cidade Exemplar, SP CEP:
        01234-567
      </p>
      <ul class="flex flex-col gap-2">
        <li class="flex gap-2 text-[#4d4d4d] font-nunito font-medium">
          <Image
            src="/contact-icons/phone-outline (1).svg"
            alt="Ícone de telefone"
            class="w-6 md:w-8"
            width={24}
            height={24}
            *
            Adicionado
            width
            height
            explícitos
            *
          />
          <a href="tel:+559999999999">Telefone: (99) 99999-9999</a>
        </li>
        <li class="flex gap-2 text-[#4d4d4d] font-nunito font-medium">
          <Image
            src="/contact-icons/email-outline (1).svg"
            alt="Ícone de envelope de e-mail"
            class="w-6 md:w-8"
            width={24}
            height={24}
            *
            Adicionado
            width
            height
            explícitos
            *
          />
          <a href="mailto:contato@docesabor.com.br">contato@docesabor.com.br</a>
        </li>
        <li class="flex gap-2 text-[#4d4d4d] font-nunito font-medium">
          <a
            href="https://www.whatsapp.com/?lang=pt_BR"
            target="_blank"
            rel="noopener noreferrer"
            class="flex items-center gap-2"
            aria-label="Enviar mensagem no WhatsApp para (99) 99999-9999"
          >
            <Image
              src="/contact-icons/whatsapp-svgrepo-com.svg"
              alt="Ícone do WhatsApp"
              class="w-6 md:w-8 hover:scale-105"
              width={24}
              height={24}
              *
              Adicionado
              width
              height
              explícitos
              *
            />
            WhatsApp
          </a>
        </li>
      </ul>
    </div>

    <div
      aria-labelledby="footer-social"
      class="flex flex-col gap-4 pt-4 md:pt-0"
    >
      <h3
        id="footer-social"
        class="text-[#d94694] font-comfortaa font-semibold"
      >
        Redes Sociais
      </h3>
      <ul class="flex flex-col gap-2">
        <li class="flex gap-2 text-[#4d4d4d] font-nunito font-medium">
          <a
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="flex items-center gap-2"
            aria-label="Visite nosso perfil no Instagram"
          >
            <Image
              src="/contact-icons/instagram(1).svg"
              alt="Ícone do Instagram"
              class="w-6 md:w-8 hover:scale-105"
              width={24}
              height={24}
              *
              Adicionado
              width
              height
              explícitos
              *
            />
            @Instagram
          </a>
        </li>
        <li class="flex gap-2 text-[#4d4d4d] font-nunito font-medium">
          <a
            href="https://www.tiktok.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="flex items-center gap-2"
            aria-label="Visite nosso perfil no TikTok"
          >
            <Image
              src="/contact-icons/tiktok-svgrepo-com.svg"
              alt="Ícone do TikTok"
              class="w-6 md:w-8 hover:scale-105"
              width={24}
              height={24}
              *
              Adicionado
              width
              height
              explícitos
              *
            />
            @TikTok
          </a>
        </li>
      </ul>
    </div>
  </address>
  <div
    class="footer-credits bg-[#ffffff] p-4 flex flex-col gap-4 rounded-2xl border-1 max-w-[500px] self-center md:min-w-[720px]"
  >
    <p class="text-[#4d4d4d] font-comfortaa font-semibold md:text-center">
      &copy; 2025 Confeitaria Doce Sabor. Todos os direitos reservados.
    </p>
    <p
      class="italic text-[#4d4d4d] font-comfortaa font-semibold text-sm md:text-center"
    >
      Disclaimer: Este é um site fictício desenvolvido exclusivamente para fins
      de portfólio.
    </p>
  </div>
</footer>
