---

---

<footer class="min-h-[80vh] p-4 flex flex-col gap-8 bg-[#ffeee6]">
  <section aria-labelledby="footer-contact" class="flex flex-col gap-8">
    <h2
      id="footer-contact"
      class="text-5xl text-center text-[#800040] font-medium"
    >
      Contato e Endereço
    </h2>
    <address
      class="flex flex-col gap-4 not-italic bg-[#ffffff] p-4 rounded-2xl shadow-sm"
    >
      <p class="text-[#d94694] font-comfortaa font-semibold">
        Confeitaria Doce Sabor
      </p>
      <p class="text-[#4d4d4d] font-nunito font-medium">
        Rua das Flores, 123 Bairro Jardim Encantado Cidade Exemplar, SP CEP:
        01234-567
      </p>
      <ul class="flex flex-col gap-2">
        <li class="flex gap-2 text-[#4d4d4d] font-nunito font-medium">
          <img
            src="src/assets/contact-icons/phone-outline (1).svg"
            alt="icone de um teleone"
            aria-hidden="true"
            class="w-6 md:w-8"
          />
          <a href="tel:+5511912345678">Telefone: (11) 91234-5678</a>
        </li>
        <li class="flex gap-2 text-[#4d4d4d] font-nunito font-medium">
          <img
            src="src/assets/contact-icons/email-outline (1).svg"
            alt="icone de um teleone"
            aria-hidden="true"
            class="w-6 md:w-8"
          />
          <a href="mailto:contato@docesabor.com.br">contato@docesabor.com.br</a>
        </li>
        <li class="flex gap-2 text-[#4d4d4d] font-nunito font-medium">
          <a
            href="https://www.whatsapp.com/?lang=pt_BR"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="src/assets/contact-icons/whatsapp-svgrepo-com.svg"
              alt="icone do instagram"
              class="w-6 md:w-8 hover:scale-105"
            />
          </a>
          <a
            href="https://www.whatsapp.com/?lang=pt_BRhttps://www.whatsapp.com/?lang=pt_BR"
            aria-label="WhatsApp"
            target="_blank"
            rel="noopener noreferrer">WhatsApp</a
          >
        </li>
      </ul>
    </address>
    <section
      aria-labelledby="footer-social"
      class="flex flex-col gap-4 bg-[#ffffff] p-4 rounded-2xl shadow-sm"
    >
      <h2
        id="footer-social"
        class="text-[#d94694] font-comfortaa font-semibold"
      >
        Redes Sociais
      </h2>
      <ul class="flex flex-col gap-2">
        <li class="flex gap-2 text-[#4d4d4d] font-nunito font-medium">
          <a
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="src/assets/contact-icons/instagram(1).svg"
              alt="icone do instagram"
              class="w-6 md:w-8 hover:scale-105"
            />
          </a>
          <a
            href="https://www.instagram.com/"
            aria-label="Instagram"
            target="_blank"
            rel="noopener noreferrer">@Instagram</a
          >
        </li>
        <li class="flex gap-2 text-[#4d4d4d] font-nunito font-medium">
          <a
            href="https://www.tiktok.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="src/assets/contact-icons/tiktok-svgrepo-com.svg"
              alt="icone do instagram"
              class="w-6 md:w-8 hover:scale-105"
            />
          </a>
          <a
            href="https://www.tiktok.com/"
            aria-label="TikTok"
            target="_blank"
            rel="noopener noreferrer">@TikTok</a
          >
        </li>
      </ul>
    </section>
  </section>
  <div
    class="footer-credits bg-[#ffffff] p-4 flex flex-col gap-2 rounded-2xl shadow-sm"
  >
    <p class="text-[#4d4d4d] font-comfortaa font-semibold">
      &copy; 2025 Confeitaria Doce Sabor. Todos os direitos reservados.
    </p>
    <p class="italic text-[#4d4d4d] font-comfortaa font-semibold text-sm">
      Site desenvolvido por empresa XYZ
    </p>
  </div>
</footer>
